<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Carrera</title>
        <link rel="stylesheet" href="/public/css/race.css" />
        <script src="/public/assests/js/race.js"></script>
    </head>
    <body>
        <div class="container" id="container">
            <a href="/src/controllers/raceController.php" class="btn" id="btn"
                >Crear Carrera</a
            >
        </div>
    </body>
</html>
